include README.md
include LICENSE
include piv_bindings.cpp
recursive-include openpiv *.h *.cpp *.cxx
recursive-include external/pocketfft *.h
recursive-include external/threading *.hpp
recursive-include external/libtiff *.h *.hxx *.cxx
include openpiv_cpp_pkg/*.py
include openpiv_cpp_pkg/*.so
include openpiv_cpp_pkg/*.pyd
include openpiv_cpp_pkg/*.dll
include openpiv_cpp_pkg/*.dylib
global-exclude *.o
global-exclude *.a
global-exclude __pycache__
global-exclude *.pyc
global-exclude .git
global-exclude builddir
global-exclude build
global-exclude dist
global-exclude .venv
global-exclude examples/data/test2/*.piv
global-exclude examples/data/test2/*.png
global-exclude *.tif
global-exclude *.tiff
global-exclude *.pgm
